@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007f73;
  --secondary: #2d9596;
  --background: #fefbf6;
  --foreground: #171717;
  --danger: #f03e3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #fefbf6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
